* {
    font-family: Helvetica;
    margin:0;
}
nav {
    float: right;
    text-decoration: none;
    font-size: 220%;
    margin-right:5%;
    margin-top: 2%;
    background-color: transparent;
}
ul, ul li {
	display: block;
	list-style: none;
	margin: 0%;
	padding: 0;
}
ul li {
	float: left;
	border-width: 0  0px 0px;
}

ul a:link, ul a:visited {
	text-decoration: none;
	display: block;
	width: 100%;
	text-align: center;
	padding: 3px 0;
	font-weight: bold;
	background-color: #FFE4C4  ;
	color: #000;
  margin: 25px;
}

ul a:hover {
	background-color: transparent;
	color: #000;
	border-top: 20px solid #FFE4C4;
}
#top {
    background-color: #FFE4C4;
    
}
#banner {
    background-image: url("img/top.jpg");
    height:600px;
    width: 100%;
    text-align: center;
}
#banner h1 {
    font-size: 300%;
    position: absolute; top:30%; left:33%;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #000;
}
.button {
    background-color: red;
    text-decoration: none;
    padding: 20px;
    border-radius: 30px;
    text-align: center;
    color: #fff;
    justify-content: center;
    position:relative; top:50%; bottom: 50px; 
}
.button:hover {
    color: #000;
    font-weight: bolder;

}
.oferta {
    float:left;
    width: 24.9%;
    border: 5px solid #ff0000;
    margin: 50px;
    padding: 25px;
    text-align: center;
    background-color: #FFE4C4 ;
}
#offer {
    text-align: center;
    margin: auto;
    background-color:#FFE4C4 ;
    height: 350px;
}
#offer h1 {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 100px;
  font-style: italic;
}
#aboutus {
    text-align: center;
    clear: both;
    width:100%;
    height: 250%;
    background-color: #FFE4C4 ;
    font-size: 150%;

}
#contact {
    background-color: #FFE4C4 ;

}
form {
  margin-left: 5%;
}
footer {
    text-align: right;
    clear: both;
    background-color: #FFE4C4 ;
}

/*
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
.btn-6 {
    background: rgb(247,150,192);
  background: radial-gradient(circle, rgba(247,150,192,1) 0%, rgba(118,174,241,1) 100%);
    line-height: 42px;
    padding: 0;
    border: none;
  }
  .btn-6 span {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
  }
  .btn-6:before,
  .btn-6:after {
    position: absolute;
    content: "";
    height: 0%;
    width: 1px;
   box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6:before {
    right: 0;
    top: 0;
    transition: all 500ms ease;
  }
  .btn-6:after {
    left: 0;
    bottom: 0;
    transition: all 500ms ease;
  }
  .btn-6:hover{
    background: transparent;
    color: #76aef1;
    box-shadow: none;
  }
  .btn-6:hover:before {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6:hover:after {
    transition: all 500ms ease;
    height: 100%;
  }
  .btn-6 span:before,
  .btn-6 span:after {
    position: absolute;
    content: "";
    box-shadow:
     -1px -1px 20px 0px rgba(255,255,255,1),
     -4px -4px 5px 0px rgba(255,255,255,1),
     7px 7px 20px 0px rgba(0,0,0,.4),
     4px 4px 5px 0px rgba(0,0,0,.3);
  }
  .btn-6 span:before {
    left: 0;
    top: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:after {
    right: 0;
    bottom: 0;
    width: 0%;
    height: .5px;
    transition: all 500ms ease;
  }
  .btn-6 span:hover:before {
    width: 100%;
  }
  .btn-6 span:hover:after {
    width: 100%;
  }
*/